@using VMA.CadeMeuMedico.Models;

@helper RetornaDoisBannersMaisRecentes()
{
var bd = new CadeMeuMedicoBDEntities();
var banners = bd.BannersPublicitarios.OrderByDescending(b => b.IDBanner).Take(1);

    <div class="row text-center col-md-12">
        @foreach (var b in banners)
        {
            <div>
                <a href="@b.LinkBanner">
                    <img src="~/Uploads/Banners/@b.BannerCampanha" title="@b.TituloCampanha" />
                </a>
            </div>
        }
    </div>
}